:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c7c7c7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colours */
  --color-text-main: #bfbfbf;
  --color-text-sub: #b2b2b2;
  --main-background: #003b73;
  --ui-background: #0074b7;
  --button-background: #60a3d9;
  /* text sizes */

  --text-xlarge: 2.5rem;
  --text-large: 2rem;
  --text-below-large: 1.75rem;
  --text-medium: 1.5rem;
  --text-below-medium: 1.25rem;
  --text-small: 1rem;
  --text-below-small: 0.75rem;
  --text-xsmall: 0.5rem;
  /* alignment */
  --text-center: center;
  --text-right: right;
  --text-left: left;
  /* element sizes */
  --element-full: 100%;
  --element-half: 50%;
}
body {
  margin: 0;
  background-color: var(--main-background);
  color: var(--color-text-main);
  font-size: 16px;
}
